.card-song{
    display: flex;
    width: 60rem;
    height: 8rem;
    margin:1rem;
    background-color: rgb(27, 27, 27);
    border-color: rgb(177, 177, 177) none rgb(177, 177, 177) none;
    border-style: solid none solid none;
    border-width: 2px 2px 2px ;
    color: azure;
}

.card-song>img{
    margin:0.5rem;

}

.songify{
    width: 100%;
    background-color: blue;
    position: fixed;
   top: 0;
   z-index: 100;
}